.charts {
  flex: 2;
  &-title {
    color: $gray1;
    margin-bottom: 10px;
  }
  &-grid {
    stroke: rgb(228, 225, 225);
  }
}
.features {
  flex: 1;
  background-color: $white;
  &-top {
    font-size: 10px;
    color: $gray1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-weight: normal;
    }
    &-icon {
      cursor: pointer;
      font-size: 10px;
    }
  }
  &-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 0px;
    &-progressbar {
      @include xs {
        padding: 0px;
      }
      @include md {
        padding: 0px 20px;
      }
      @include lg {
        padding: 0px 40px;
      }
    }
    h2 {
      margin: 20px 0px;
      font-size: 20px;
      color: $gray1;
    }
    h1 {
      font-weight: normal;
    }
    p {
      color: $gray1;
      margin: 20px 0px;
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: $gray1;
    &-up,
    &-down {
      p:nth-child(2) {
        display: flex;
        align-self: center;
        gap: 5px;
        margin-top: 10px;
      }
    }
    &-up {
      p:nth-child(2) {
        color: $green;
      }
    }
    &-down {
      p:nth-child(2) {
        color: $red;
      }
    }
  }
}
