.home {
  .featuresAndCharts {
    margin: 30px 0px;
    display: flex;
    gap: 20px;
    @include xs {
      flex-direction: column;
      align-items: flex-start;
    }
    @include md {
      flex-direction: row;
      // align-items: center;
    }
    .features,
    .charts {
      box-shadow: 1px 4px 12px -2px rgb(221 221 221 / 63%);
      border-radius: 20px;
      padding: 20px;
      width: 100%;
      height: 100%;
    }
  }
  .home-table {
    box-shadow: 1px 4px 12px -2px rgb(221 221 221 / 63%);
    border-radius: 20px;
    padding: 20px;
    overflow-x: scroll;
    @include xs {
      width: 85vw;
    }
    @include md {
      width: 71vw;
    }
    @include lg {
      width: 100%;
    }
    h1 {
      color: $gray1;
      font-weight: normal;
      margin-bottom: 10px;
    }
  }
}
