/* <------------------------------------------banner----------------------------------------------------> */

.banner {
    position: relative;
    display: flex;
    align-items: center;
    background-position: top;
    width: 100%;
    height: 70vh;
    background-image: url(../../../images/banner.jpg);
    transition: all 0.5s ease-in-out;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    padding: 0px !important;
    justify-content: center;
    z-index: 9;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 70vh;
  z-index: -1;
  opacity: 0.4;
}

.banner p {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 50px;
  font-weight: 400;
}

.banner-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
}

.css-1gywuxd-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0px !important;
  font-size: 13px !important;
}

.search-btn {
  padding: 13.5px 16px !important;
  border-radius: 0px !important;
  background-color: black !important;
}


/* <------------------------------------------about----------------------------------------------------> */
.about-box {
  padding: 35px 0px;
  border: 2px solid #3e98c7;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
}

.about-box svg {
  color: #3e98c7;
  font-size: 32px;
}

.about-box:hover svg {
    color: #fff;
}

.about-box:hover {
    background-color: #3e98c7;
    color: #fff;
}

/* <------------------------------------------footer----------------------------------------------------> */

.footer-bg {
    background-image: url(../../../images/footer-bg-1.png);
    background-position: center;
    padding: 100px 0px;
    position: relative;
    z-index: 9;
    /* height: 45vh; */
}

.footer-bg::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
}

.footer-title h4 {
    font-size: 45px;
    color: #3e98c7;
}

.footer-title p {
    color: #555;
    font-size: 15px;
    padding-right: 40px;
    margin-top: 18px;
    line-height: 27px;
}

.footer-text h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin: 20px 0px;
}

.footer-text li {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    list-style: none !important;
    padding-bottom: 10px;
    color: #555;
}

.footer-text svg {
    font-size: 18px;
    color: #555;
    margin-right: 12px;
    margin-bottom: -4px;
}
