.loginTab div {
  display: flex;
  justify-content: center !important;
}
.loginTab button {
  font-size: 25px;
  font-weight: 600;
  padding: 0px 50px;
}
.loginTab .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #3e98c7 !important;
}
.loginTab span {
  background-color: transparent !important;
}
