.wedgets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .widget-single{
        background-color: $white;
        @include xs{
            flex: auto
        }
        @include xl{
            flex: 1
        }
        box-shadow: 1px 4px 12px -2px rgba(221,221,221,0.63);
        border-radius: 20px;
        padding: 20px;
        .wedget-single-line1,.wedget-single-line3{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }
        .wedget-single-line1{
            p:nth-child(1){
                color: $gray1;
                text-transform: uppercase;
                font-weight: bold;
                white-space: nowrap;
            }
            p:nth-child(2){
                color: green;
                font-style: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: nowrap;
                white-space: nowrap;
            }
        } 
        .wedget-single-line2{
            margin: 10px 0px;
            h3{
                font-size: 30px;
                font-weight: 300; 
            }
        }
        .wedget-single-line3{
            p:nth-child(1){
                cursor: pointer;
                border-bottom: 1px solid $gray1;
                font-size: 15px;
            }
            .wedjet-users,
            .wedjet-orders,
            .wedjet-earnings,
            .wedjet-details{
                border-radius: 10px;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            
            .wedjet-users{
                background-color: rgba(255, 0, 0, 0.2);
                color: crimson
            };
            .wedjet-orders{
                background-color: rgba(218, 165, 32, 0.2);
                color: goldenrod
            };
            .wedjet-earnings{
                background-color: rgba(0, 128, 0, 0.2);
                color:green
            };
            .wedjet-details{
                background-color: rgba(128, 0, 128, 0.2);
                color: purple
            }
            
        } 
    }
}