$white: #fff;
$black: #111;
$black2: #333;
$purple: #3e98c7;
$gray1: #999;
$gray2: #ddd;
$gray3: #555;
$red: crimson;
$green: rgba(0, 128, 0, 0.2);
$yellow: rgba(218, 165, 32, 0.2);
$offWhite: #ece8ff;
$transition: all 0.3s ease;
