.drawer{
    @include xs{
        display: block;
    }
    @include md{
        display: none;
    }
    &-box{
        width: 190px;
        height: 100vh
    }
    button{
        display: flex;
        background-color: inherit;
        color: $gray3;
    }
}